.main{
    color: rgb(221, 217, 217);
}

.col-md-4{
    padding: 20px;
}

.card{
  background-color: #22272b;
}


/* .card:hover, audio:hover {transform: scale(1.05); color: white;} */

/* audio::-webkit-media-controls-panel{background-color: #18185c;} */

.card-image {
    position: relative;
    margin-bottom: 15px;
    height: 300px;
  }
  
  img {
    position: absolute;
  }

  audio{
      margin-top: 10px;
  }

  input[type = "checkbox"]{
    margin-top: 7px;
    height: 15px;
    width: 15px;
    background-color: white;
    position:relative;
    outline: none;
    transform: rotate(45deg);
    -webkit-appearance: none;
    cursor: pointer;
  }

  input[type = "checkbox"]:before{
    position: absolute;
    content: "";
    background-color: white;
    height: 60%;
    width: 100%;
    top: -50%;
    outline: none;
    border-radius: 75px 75px 0 0;    
  }

  input[type = "checkbox"]:after{
    position: absolute;
    content: "";
    background-color: white;
    height: 60%;
    width: 100%;
    transform: rotate(-90deg);
    border-radius: 75px 75px 0 0;
    top: 20%;
    right: 65%
  }

  input[type="checkbox"]:checked,
  input:checked[type="checkbox"]:before,
  input:checked[type="checkbox"]:after{
    background-color: #fe0f42;
  }

  input[type="checkbox"]:hover,
  input[type="checkbox"]:hover:before,
  input[type="checkbox"]:hover:after{
    background-color: #fe0f42;
  }

  select{
    background-color: black; color: white;
  }
